---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { Debug } from "astro:components";
import { render } from "astro:content";
import { getSinglePage } from "@/lib/contentParser.astro";

import Share from "@/components/Share.astro";
import { humanize, slugify } from "@/lib/utils/textConverter";
import {
  FaRegCalendarAlt,
  FaRegClock,
  FaRegFolder,
  FaRegUserCircle,
} from "react-icons/fa";
import dateFormat from "@/lib/utils/dateFormat";
import readingTime from "@/lib/utils/readingTime";
const allAuthors = await getSinglePage("authors");

const { post } = Astro.props;
const { Content } = await render(post);
const { title, image, post_type, authors, categories, tags, description } =
  post.data;
---

<section class="section">
  {
    post_type == "news" && (
      <div class="container">
        <div class="row justify-center">
          <div class="col-12 md:col-8">
            <article class="text-center">
              {image && (
                <Image
                  src={image}
                  height={500}
                  width={1000}
                  alt={title}
                  class="rounded-lg"
                />
              )}
              <h1 set:html={markdownify(title)} class="h2 text-left my-6" />

              <div class="content mb-16 text-left">
                <Content />
              </div>
            </article>
          </div>
        </div>
      </div>
    )
  }

  <!-- {
    post_type == "blog" && (
      <div class="container">
        <div class="row justify-center">
          <div class="col-12 md:col-8">
            <article class="text-center">
              <div class="md:col-10 text-center"> 
                
              </div>
              {image && (
                <Image
                  src={image}
                  height={500}
                  width={1000}
                  alt={title}
                  class="rounded-lg"
                />
              )}
              <h1 set:html={markdownify(title)} class="h2 text-left my-6" />
              <div class="mb-5 mt-6 flex items-center space-x-2">
                <ul class="mb-4">
                  <li class="mr-4 inline-block">
                    {/* <FaRegUserCircle className={"mr-2 -mt-1 inline-block"} /> */}
                    {/* {humanize(post.data.author!)}  */}
                    {allAuthors
                      .filter((author) =>
                        authors
                          .map((author: string) => slugify(author))
                          .includes(slugify(author.data.title)),
                      )
                      .map((author, i) => (
                        <a
                          href={`/authors/${slugify(author.slug)}`}
                          class="flex items-center hover:text-primary font-medium"
                        >
                          {author.data.image && (
                            <Image
                              src={author.data.image}
                              alt={author.data.title}
                              height={50}
                              width={50}
                              class="mr-2 h-6 w-6 rounded-full"
                            />
                          )}
                          <span>{humanize(author.data.title)}</span>
                        </a>
                      ))}
                  </li>

                  <li class="mr-4 inline-block">
                    <FaRegCalendarAlt className={"mr-2 -mt-1 inline-block"} />
                    {dateFormat(post.data.date!)}
                  </li>

                  {post.body && (
                    <li class="mr-4 inline-block">
                      <FaRegClock className={"mr-2 -mt-1 inline-block"} />
                      {readingTime(post.body)}
                    </li>
                  )}

                  <li class="mr-4 inline-block">
                    <FaRegFolder className={"mr-2 -mt-1 inline-block"} />
                    {post.data.categories.map((category, index) => (
                      <a
                        href={`/categories/${slugify(category)}`}
                        class="hover:text-primary"
                      >
                        {humanize(category)}
                        {index !== post.data.categories.length - 1 && ","}
                      </a>
                    ))}
                  </li>
                </ul>
              </div>

              <div class="content mb-16 text-left">
                <Content />
              </div>
            </article>
          </div>
        </div>
      </div>
    )
  } -->
  {
    post_type == "blog" && (
      <div class="container">
        <article class="row justify-center">
          <div class="md:col-10 text-center">
            <h1 set:html={markdownify(title)} class="h2 text-left my-6" />
            <ul class="mt-4 flex flex-wrap items-center justify-center text-text">
              <li class="mx-3">
                {/* <FaRegUserCircle className={"mr-2 -mt-1 inline-block"} /> */}
                {/* {humanize(post.data.author!)}  */}
                {allAuthors
                  .filter((author) =>
                    authors
                      .map((author: string) => slugify(author))
                      .includes(slugify(author.data.title)),
                  )
                  .map((author, i) => (
                    <a
                      href={`/authors/${slugify(author.slug)}`}
                      class="flex items-center hover:text-primary font-medium"
                    >
                      {author.data.image && (
                        <Image
                          src={author.data.image}
                          alt={author.data.title}
                          height={50}
                          width={50}
                          class="mr-2 h-6 w-6 rounded-full"
                        />
                      )}
                      <span>{humanize(author.data.title)}</span>
                    </a>
                  ))}
              </li>

              <li class="mr-4 inline-block">
                <FaRegCalendarAlt className={"mr-2 -mt-1 inline-block"} />
                {dateFormat(post.data.date!)}
              </li>

              {post.body && (
                <li class="mr-4 inline-block">
                  <FaRegClock className={"mr-2 -mt-1 inline-block"} />
                  {readingTime(post.body)}
                </li>
              )}

              <li class="mr-4 inline-block">
                <FaRegFolder className={"mr-2 -mt-1 inline-block"} />
                {post.data.categories.map((category, index) => (
                  <a
                    href={`/categories/${slugify(category)}`}
                    class="hover:text-primary"
                  >
                    {humanize(category)}
                    {index !== post.data.categories.length - 1 && ","}
                  </a>
                ))}
              </li>
            </ul>
          </div>
          <div class="md:col-10 text-center">
            <div class="col-12 mt-8 mb-2">
              {image && (
                <Image
                  src={image}
                  height={500}
                  width={1000}
                  alt={title}
                  class="rounded-lg"
                />
              )}
            </div>

            <div class="md:col-10">
              <div class="content mb-16 text-left">
                <Content />
              </div>
              <div class="flex flex-wrap items-center justify-between">
                <ul class="mr-4 mb-4 space-x-3">
                  {tags.map((tag: string) => (
                    <li class="inline-block">
                      <a
                        href={`/tags/${slugify(tag)}`}
                        class="block rounded-lg bg-theme-light px-4 py-2 font-semibold text-dark text-sm hover:text-primary transition duration-300"
                      >
                        #{humanize(tag)}
                      </a>
                    </li>
                  ))}
                </ul>
                <Share
                  className="social-share mb-4"
                  title={title}
                  description={description}
                  slug={post.slug}
                />
              </div>
            </div>
          </div>
        </article>
      </div>
    )
  }
  <!-- <Debug  answer={post}/> -->

  {
    post_type == "printables" && (
      <div class="container">
        <div class="row justify-center">
          <div class="col-12 md:col-8">
            <article class="text-center">
              {image && (
                <Image
                  src={image}
                  height={500}
                  width={1000}
                  alt={title}
                  class="rounded-lg"
                />
              )}
              <h1 set:html={markdownify(title)} class="h2 text-left my-6" />

              <div class="content mb-16 text-left">
                <Content />
              </div>
            </article>
          </div>
        </div>
      </div>
    )
  }
</section>
